[Unit]
Description=MRA HTTP Control Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/mra-control
ExecStart=/opt/mra-control/.venv/bin/python3 /opt/mra-control/server.py
Restart=always

[Install]
WantedBy=multi-user.target
